* {
    margin: 0;
    padding: 0;
    height: 85%;
    width: 85%;
    box-sizing: border-box;
}

body {
    height: 60vh;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    align-content: space-between;
    flex-direction: column;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    width: 50%;
    position: relative;
    height: 50px;
    /* overflow: hidden; */
    margin-top: auto;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -95%);
}

.form input {
    width: 100%;
    height: 100%;
    color: rgb(28, 31, 34);
    padding-top: 20px;
    border: none;
    outline: none;
    animation: neonTry .9s ease-in-out infinite alternate;
}

@keyframes neonTry {
    from {
        text-shadow:

    }
    to {

    }
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(139, 128, 128);
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}


button {
    height: 45px;
    width: 150px;
    margin: 45px 0;
    background-color:rgb(0, 0, 0);
    color: white;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-78%, 5%);
    border-radius: 5px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scene {
    /* centering  */
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.turquoise_butterfly {
    animation: rotating 4s linear infinite;
    animation-delay: -1s;
}

@keyframes rotating {
    0% {
        transform: translate(0, 10px) rotate(10deg);

    }
    50% {
        transform: translate(0, 20px) rotate3d(2, -1, -1, 45deg);
    }

    100% {
        transform:  translate(50, 100px) rotate3d(1, 0.8, -1, 20deg);

    }
}
.turquoise_butterfly:hover{
    opacity: 0.2;
}

.coral_butterfly {
    animation-name: coral;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease;
    animation-direction: alternate;


}
@keyframes coral {
    0% {
        transform: translate(0, 20px) rotate(5deg);

    }
    50% {
       transform: rotate3d(2, 0, -1, -0.2turn);
    }
    100% {
        transform: translate(10, 100px);

    }
}
.coral_butterfly:hover{
    opacity: 0.2;
}

.blue_butterfly {
    animation: blueFlight 4s infinite;

}
    
@keyframes blueFlight {
    0% {
        transform: translate(0px,0px) rotate3d(1, -1, 1, 85deg);

    }
    50% {
        transform: translate(100px, 300px) rotate3d(1, 0.8, -1, 20deg); 
    }

    100% {
        transform:  translate(200px, -20px) rotate3d(1, 0.8, -1, 100deg);
    }
}

.blue_butterfly:hover{
    opacity: 0.2;
}

.crescent {
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.topSpark {
    transform-origin: center;
    animation: topPulse 3s ease infinite alternate;
}

@keyframes topPulse{
    0% {
        transform: scale(0.95);
    }
    70% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.95);
        opacity: 0.8;
    }
}

.centerSpark {
    transform-origin: center;
    animation: pulse 3s ease infinite alternate-reverse;
}

@keyframes pulse{
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.1);
        opacity: 0.2;
    }
    100%{
        transform: scale(0.95);
    }
}

.leftSpark {
    animation: leftPulse 3s ease infinite alternate-reverse;
    transform-origin: center;
}
@keyframes leftPulse{
    0% {
        transform: scale(0.98);
    }
    50% {
        transform: scale(1);
        opacity: 0.2;
    }
    100%{
        transform: scale(0.98);
    }
}

.rightSpark {
    animation: rightPulse 2.5s linear infinite alternate-reverse;
    opacity: 0.7;
    transform-origin: center;
}


@keyframes rightPulse{
    0% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    90% {
        transform: scale(1);
    }
    100%{
        transform: scale(0.95);
        opacity: 0;
    }
}

.left_eye {
    animation: fadeIn 2s ease-in infinite;
}

.right_eye {
    animation: fadeIn 2s ease-in infinite;
}

